<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Successful</title>
</head>
<body>
    <header>
        <h1>Delete Successful</h1>
    </header>
    <div class="container">
        <p>Records have been successfully deleted.</p>
        <button onclick="location.href='/'" type="button">Return to Main Page</button>
        <!-- Add more options or links as needed -->
    </div>
</body>
</html>
