<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Record</title>
</head>
<body>
    <h1>Delete Record</h1>
    <form method="POST" action="/delete-data">
        <label for="name">Name to Delete:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Delete</button>
    </form>
    <button onclick="location.href='/'" type="button">Return to Main Page</button>
</body>
</html>
